@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
html,body{
    width: 100%;
    height: 100%;
    font-family: 'playfair+display';
    font-size: 16px;
    color: #222;
}

  .dropdown:hover>.dropdown-menu{
    display: block;
  }
  
  .navbar{
    padding: 0rem 1rem ;
  }

  .navbar-nav
  {
    width: 100%;
  }
  
  .nav-link{
    padding: 14px 16px;
  }
  .nav-item{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  }
  .dropdown-menu{
    top: 50px;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .search{
    padding: .5rem 1rem;
  }

  .display-2
  {
    font-size: 50px;
  }

  .logo-menu
  {
    width: 100px;
    height: 30px;
  }

  /*carousel*/
  .carousel-inner img{
    width: 100%;
    height: 500px;
}

.carousel-inner
{
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-caption{
  position: absolute;
  top: 50%;
}
.caption-caption h2{
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 10px 10px 20px #000;
} 
.caption-caption h5{
  font-size: 200%;
  text-shadow: 2px 2px 10px #000;
}
  /*hieu ung*/
/* onhover styles */

.navbar-nav li:hover > a {
  border-radius: 5px 0 0 0;
  border-left: 3px solid red;
  color: red;
}

/*dropdown-menu styles */
.navbar-nav a:hover,.navbar-nav .dropdown-menu a:hover {
  border-left: 3px solid black;
  border-radius: 0;
  color: red;
}

  /*chuyen muc*/
  span.title-tl-1{
    padding: 4px;
    float: left;
}
a.calotagate-cn1{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
    float: left;
    background-color:brown;
    color: #000;
}
/*fooler*/
.max-s-full
{
  width: 350px;
  height: 100px;
}